* {
  margin: 0;
  padding: 0;

  color: black;
}

button {
  cursor: pointer;
}
.design {
  /* background-color: rgba(4, 4, 44, 0.468); */
  width: 100%;
  height: 8px;
  position: fixed;
  top: 0px;
}
/* #design-bottom {
  bottom: 500px;
} */
.hero-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(29, 27, 27, 0.564);
  height: 100vh;
}
#login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#login-form {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  gap: 50px;
}
#login-h1 {
  margin-top: 150px;
  font-size: 50px;
  font-family: sans-serif;
}
transaction-images/photo_2024-04-26_22-24-36.jpg label {
  font-size: 28px;
  font-family: "Segoe UI";
}
#user-id {
  /* border-color: black; */
  border: 1px solid black;
  border-radius: 10px;
  font-size: 17px;
  background-color: lightgray;
  width: 500px;
  height: 50px;
}
.details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.login-error {
  display: flex;
  flex-direction: column;

  align-items: center;
}
#login-button {
  width: 100px;
  font-size: 18px;
  background-color: rgba(6, 79, 6, 0.577);
  border: none;
  font-family: "Segoe UI";
}
#login-button:active {
  transform: scale(0.9);
}
#error-text {
  background-color: rgb(112, 6, 6);
  border: 1px solid black;
  width: 150px;
  display: none;
}

#main-page {
  display: none;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
#header {
  display: flex;
  margin-top: 90px;
  margin-right: 750px;
  gap: 30px; /* 
  
  */
}

#profile-span {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.578);
  font-family: Tahoma;
  font-weight: bold;
}

#verified {
  position: absolute;
  left: 336px;
  top: 180px;
}
#hello-h4 {
  font-size: 25px;
  color: black;
  font-family: Tahoma;
}
#welcome-h1 {
  font-size: 50px;
  margin-left: 25px;
  color: black;
  font-family: cursive;
}

.welcome-text {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
#prof-image {
  height: 140px;
  width: 160px;
  border-radius: 50%;
  margin-left: 108px;
}
h2 {
  font-size: 45px;
}

.balance {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 20px;
  border: 1px solid black;
  height: 110px;
  width: 400px;
}

.balance-sub {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 20px;
  border: 1px solid black;
  height: 70px;
  width: 300px;
}
#thePayment {
  width: 350px;
}
.sub-2 {
  display: flex;
  flex-direction: column;
}

h3 {
  font-size: 30px;
  font-family: "Segoe UI";
  display: flex;
  justify-content: center;
}

#sub-h3 {
  font-size: 20px;
}
#balance-span {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.497);
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin: 0 10px;
}
#sub-span {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.497);
  /* font-family: Tahoma; */
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.sub-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.groupings {
  display: flex;
}

#note-span {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 20px;
  /* color: rgba(0, 0, 0, 0.975); */
  /* font-family: Tahoma; */
  font-weight: bold;
  margin: 0 13px;
}
.note-2 {
  color: rgba(0, 0, 0, 0.497);
}
.hero-footer {
  display: flex;
  flex-direction: column;
  gap: 55px;
  align-self: flex-end;
  position: absolute;
  bottom: 190px;
  right: 120px;
}

.footer-button {
  font-size: 20px;
  display: flex;
  align-items: center;
  border: 1px solid;
  border-radius: 20px;
  gap: 5px;
  width: 150px;
  justify-content: left;
  color: black;
  background-color: transparent;
  font-family: "Segoe UI";
  font-weight: bold;
}

.footer-button:hover {
  background-color: rgba(0, 0, 0, 0.396);
}
.footer-button:active {
  transform: scale(0.9);
  background-color: rgba(0, 0, 0, 0.396);
}
.footer-button:focus {
  background-color: rgba(0, 0, 0, 0.396);
}

.footer-pic {
  height: 50px;
  width: 50px;
}

.cnter {
  display: flex;
  align-items: center;
  /* background-color: black; */
  justify-content: center;
}

#special-div-2 {
  height: 160px;
  display: flex;
  margin-right: 100px;
}
#special-div {
  height: 430px;
  width: 450px;
}

#section-1 {
  margin-top: 50px;
}
#section2 {
  display: none;
  margin-top: 30px;
  margin-right: 370px;
}

#section3 {
  display: none;
  margin-right: 300px;
}
.ngs {
  /* margin-top: 100px; */
  display: flex;

  justify-content: left;
  gap: 10px;
}

.show-body {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
#profile-span {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.578);
  font-family: Tahoma;
  font-weight: bold;
}
.top {
  display: flex;
  margin-left: 120px;
}

.personal-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.balance-2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 20px;
  border-color: black;
  border: 1px solid;
  width: 300px;
  height: 63px;
  padding-bottom: 4px;
}

#two-h3 {
  font-size: 20px;
}

#two-span {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.389);
  font-family: Tahoma;
  font-weight: bold;
}

.icon-overlay {
  background-color: black;
}

#transaction-button {
  width: 260px;
  justify-content: center;
  display: flex;
}
#account-button {
  display: flex;
  justify-content: center;
}

#section4 {
  background-color: white;
  display: none;
  height: 520px;
  width: 550px;
}

#sec4-img {
  height: 50px;
  width: 50px;
}

#top-4 {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  gap: 3px;
  margin-top: 10px;
}

.each-item {
  display: flex;
  justify-content: space-between;
}

#span-4 {
  font-size: 16px;
  font-family: Helvetica;
  color: rgba(0, 0, 0, 0.688);
}
#h6-4 {
  font-size: 21px;
  font-family: sans-serif;
}
#sec4-h3 {
  font-size: 18px;
  font-family: monospace;
}
#sec4-span {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.389);
  font-family: Helvetica;
  font-weight: bold;
}

#fee-div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.upper-body {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0 40px;
}
#logout-button {
  width: 100px;
  font-size: 18px;
  background-color: rgba(6, 79, 6, 0.577);
  border: none;
  font-family: "Segoe UI";
  align-self: center;
}
#logout-button:active {
  transform: scale(0.9);
}

@media only screen and (min-width: 300px) and (max-width: 389px) {
  * {
    margin: 0px;
    padding: 0;
  }

  #login-h1 {
    display: flex;
    font-size: 25px;
    width: 300px;

    justify-content: center;
  }
  #something {
    display: flex;
  }

  #user-id {
    width: 300px;
  }

  #login-page {
    margin-bottom: 100%;
  }

  .hero-contents {
    /* max-height: 100000px; */
    height: fit-content;
  }
  .show-body {
    margin: 0 30px;
  }
  #header {
    display: flex;
    align-self: flex-start;
    margin-left: 24px;
    margin-top: 15px;
    gap: 25px;
    margin-right: 0;
    position: relative;
    width: 400px;
  }

  #profile-span {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.578);
    font-family: Tahoma;
    font-weight: bold;
  }
  #main-page {
    align-items: normal;
  }
  #header-up {
  }
  #verified {
    height: 40px;
    width: 40px;
    top: 65px;
    left: 78px;
  }
  .welcome-text {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
  #prof-image {
    height: 100px;
    width: 90px;
    margin-left: 15px;
  }
  #imgxpremium {
    display: flex;
  }

  #section-1 {
    margin-top: 0px;
    align-self: center;
    position: absolute;
    top: 200px;
  }
  #hello-h4 {
    font-size: 25px;
  }
  #welcome-h1 {
    font-size: 35px;
  }

  h3 {
    font-size: 24px;
  }
  #balance-span {
    font-size: 15px;
  }

  .balance {
    height: 70px;
    width: 200px;
  }
  .balance-sub {
    height: 60px;
    width: 200px;
  }
  #thePayment {
    width: 300px;
  }

  #sub-h3 {
    font-size: 15px;
    justify-content: left;
    display: flex;
    margin-left: 10px;
  }
  #sub-span {
    font-size: 13px;
    justify-content: left;
    display: flex;
    margin-left: 10px;
  }
  .groupings {
    display: flex;
    flex-direction: column;
  }
  #note-upper {
    height: 19px;
  }
  #note-span {
    font-size: 13px;
    gap: 2px;
  }
  #special-div {
    height: 220px;
    width: 370px;
    margin-top: 7px;
  }
  #special-div-2 {
    height: 110px;
    width: 300px;
  }
  #section2 {
    align-self: flex-start;
    margin-right: 0;
    margin-top: 10px;
  }
  #section4 {
    align-self: flex-start;
    height: 450px;
    width: 370px;
    position: absolute;
    top: 135px;
    margin: 0 20px;
  }
  .upper-body {
    gap: 20px;
  }
  #sec4-img {
    height: 30px;
    width: 30px;
  }
  #span-4 {
    font-size: 11px;
  }
  #h6-4 {
    font-size: 14px;
  }
  #sec4-h3 {
    font-size: 12px;
  }
  #sec4-span {
    font-size: 11px;
  }
  #section3 {
    align-self: flex-start;
    margin-right: 30px;
    margin-top: 0px;
    position: absolute;
    top: 125px;
  }
  .footer-pic {
    height: 20px;
    width: 20px;
  }
  .hero-footer {
    flex-direction: row;
    bottom: 7px;
    right: 0;
    gap: 12px;
    left: 0px;
    margin: 0;
  }
  .footer-button {
    font-size: 10px;
    flex-direction: column;
    border: none;
    width: 90px;
  }
  .footer-button:active {
    transform: scale(0.9);
    background-color: transparent;
  }
  .footer-button:focus {
    background-color: transparent;
    border: 1px solid black;
  }
  #transaction-button {
    width: 80px;
  }
  /* #logout-button {
    margin-left: 100px;
  } */
  .personal-info {
    gap: 15px;
  }
}

@media only screen and (min-width: 390px) and (max-width: 765px) {
  * {
    margin: 0px;
    padding: 0;
  }

  #login-h1 {
    display: flex;
    font-size: 25px;
    width: 300px;

    justify-content: center;
  }
  #something {
    display: flex;
  }

  #user-id {
    width: 300px;
  }

  #login-page {
    margin-bottom: 100%;
  }

  .hero-contents {
    /* max-height: 100000px; */
    height: fit-content;
  }
  .show-body {
    margin: 0 30px;
  }
  #header {
    display: flex;
    align-self: flex-start;
    margin-left: 24px;
    margin-top: 15px;
    gap: 25px;
    margin-right: 0;
    position: relative;
    width: 400px;
  }

  #profile-span {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.578);
    font-family: Tahoma;
    font-weight: bold;
  }
  #main-page {
    align-items: normal;
  }
  #header-up {
  }
  #verified {
    height: 40px;
    width: 40px;
    top: 65px;
    left: 78px;
  }
  .welcome-text {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
  #prof-image {
    height: 100px;
    width: 90px;
    margin-left: 15px;
  }
  #imgxpremium {
    display: flex;
  }

  #section-1 {
    margin-top: 0px;
    align-self: center;
    position: absolute;
    top: 200px;
  }
  #hello-h4 {
    font-size: 25px;
  }
  #welcome-h1 {
    font-size: 35px;
  }

  h3 {
    font-size: 24px;
  }
  #balance-span {
    font-size: 15px;
  }

  .balance {
    height: 70px;
    width: 200px;
  }
  .balance-sub {
    height: 60px;
    width: 200px;
  }
  #thePayment {
    width: 300px;
  }

  #sub-h3 {
    font-size: 15px;
    justify-content: left;
    display: flex;
    margin-left: 10px;
  }
  #sub-span {
    font-size: 13px;
    justify-content: left;
    display: flex;
    margin-left: 10px;
  }
  .groupings {
    display: flex;
    flex-direction: column;
  }
  #note-upper {
    height: 19px;
  }
  #note-span {
    font-size: 13px;
    gap: 2px;
  }
  #special-div {
    height: 220px;
    width: 370px;
    margin-top: 7px;
  }
  #special-div-2 {
    height: 110px;
    width: 300px;
  }
  #section2 {
    align-self: flex-start;
    margin-right: 0;
    margin-top: 10px;
  }
  #section4 {
    align-self: flex-start;
    height: 450px;
    width: 370px;
    position: absolute;
    top: 135px;
    margin: 0 20px;
  }
  .upper-body {
    gap: 20px;
  }
  #sec4-img {
    height: 30px;
    width: 30px;
  }
  #span-4 {
    font-size: 11px;
  }
  #h6-4 {
    font-size: 14px;
  }
  #sec4-h3 {
    font-size: 12px;
  }
  #sec4-span {
    font-size: 11px;
  }
  #section3 {
    align-self: flex-start;
    margin-right: 30px;
    margin-top: 0px;
    position: absolute;
    top: 125px;
  }
  .footer-pic {
    height: 20px;
    width: 20px;
  }
  .hero-footer {
    flex-direction: row;
    bottom: 7px;
    right: 0;
    gap: 12px;
    left: 0px;
    margin: 0;
  }
  .footer-button {
    font-size: 10px;
    flex-direction: column;
    border: none;
    width: 90px;
  }
  .footer-button:active {
    transform: scale(0.9);
    background-color: transparent;
  }
  .footer-button:focus {
    background-color: transparent;
    border: 1px solid black;
  }
  #transaction-button {
    width: 80px;
  }
  /* #logout-button {
    margin-left: 100px;
  } */
  .personal-info {
    gap: 15px;
  }
}

/* *ipad and tabs*/
@media only screen and (min-width: 766px) and(max-width:1024px) {
  .hero-footer {
    flex-direction: row;
    bottom: 7px;
    right: 0;
    gap: 9px;
    left: 0px;

    justify-self: center;
    width: 700px;
    justify-content: center;
  }
  #section-1 {
    margin-top: 120px;
  }
  .footer-button {
    font-size: 15px;
    flex-direction: column;
    border: none;
    width: 170px;
  }
  #transaction-button {
    width: 170px;
  }
  #header {
    display: flex;
    margin-top: 90px;
    margin-right: 90px;
    gap: 30px;
  }
  #verified {
    position: absolute;
    left: 282px;
    top: 180px;
  }
  .balance {
    height: 100px;
    width: 500px;
  }
  #section2 {
    align-self: flex-start;
    margin-right: 0;
    margin-top: 60px;
  }
  .groupings {
    display: flex;
    flex-direction: column;
  }
  #special-div {
    height: 300px;
    width: 680px;
    margin-top: 10px;
  }
  #thePayment {
    width: 500px;
  }
  h3 {
    font-size: 26px;
  }

  #sub-h3 {
    font-size: 18px;
    justify-content: left;
    display: flex;
    margin-left: 10px;
  }
  #sub-span {
    font-size: 14px;
    justify-content: left;
    display: flex;
    margin-left: 10px;
  }
  #note-span {
    font-size: 18px;
    gap: 4px;
  }
  #balance-span {
    font-size: 17px;
  }

  #section4 {
    align-self: flex-start;
    height: 600px;
    width: 600px;
    position: absolute;
    top: 280px;
    margin: 0 20px;
  }
  #sec4-h3 {
    font-size: 16px;
  }
  #sec4-span {
    font-size: 14px;
  }
  #sec4-img {
    height: 40px;
    width: 40px;
  }
  #span-4 {
    font-size: 14px;
  }
  #h6-4 {
    font-size: 18px;
  }
  #section3 {
    align-self: center;
    margin-right: 0px;
    margin-top: 40px;
    position: absolute;
    top: 280px;
  }

  #profile-span {
    font-size: 14px;
  }
  #welcome-h1 {
    font-size: 42px;
  }
  #prof-image {
    height: 120px;
    width: 125px;
  }
  #login-h1 {
    font-size: 37px;
  }
}
